###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tap

pids
logs
results

npm-debug.log
node_modules/

###MacOSX###
.DS_Store

###Windows###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

spec/
*.sublime-workspace

# Ignore build output. 
docs/javascript/
gameplay/js/app.js
gameplay/js/test.js
build/
*.swp
*.swo
/coverage.html
